{{- define "main" }}
{{- $pages := where .Site.RegularPages "Section" "posts" }}
{{- $byYear := $pages.GroupByDate "2006" }}

<div class="home">
  <h1 id="antonio-v-franco">Antonio V. Franco</h1>

  <p>AI Engineer focused on research and product development involving LLMs, SLMs, RAG, and agentic AI technologies (such as LangGraph and CrewAI).</p>

  <p>I am also pursuing a BS in Data Science at the Indian Institute of Technology Madras and currently contribute to open-source projects including Archestra, Langfuse, and LangGraph, while participating in AI and data science research competitions such as AIMO and the ARC Prize.</p>

  <p>For partnerships and projects, contact me by email: <a href="mailto:contact@antoniovfranco.com">contact@antoniovfranco.com</a></p>

  <p>You can read more about me on</p>

  <ul>
    <li><a href="https://github.com/AntonioVFranco" target="_blank">GitHub</a></li>
    <li><a href="https://medium.com/@AntonioVFranco" target="_blank">Medium</a></li>
    <li><a href="https://huggingface.co/AntonioVFranco" target="_blank">Hugging Face</a></li>
  </ul>

  <hr class="home-section-rule">

  <h2 id="articles">Articles</h2>

  {{- range $byYear }}
  <div class="archive-year-block">
    <h2 class="archive-year">{{ .Key }}</h2>

    {{- $byMonth := .Pages.GroupByDate "January" }}
    {{- range $byMonth }}
    <div class="archive-month-block">
      <h3 class="archive-month">{{ .Key }}</h3>
      <ul class="archive-posts">
        {{- range .Pages }}
        <li class="archive-item">
          <a class="archive-item-link" href="{{ .Permalink }}">{{ .Title }}</a>
          <time class="archive-item-date" datetime="{{ .Date.Format "2006-01-02" }}">
            {{ .Date.Format "Jan 2" }}
          </time>
        </li>
        {{- end }}
      </ul>
    </div>
    {{- end }}

  </div>
  {{- end }}
</div>
{{- end }}
